/* calculator position + border */
#calc-logo {
  width: 300px;
}

.buttonHolder {
  margin: 0 auto !important;
  padding: 20px;
  display: table-caption;
  min-width: 445px;
}

.border {
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.outputScreen {
  width: 25.5vw;
  height: 6vw;
  text-align: right;
  font-size: 50px;
  font-family: Pocket Calculator, helvetica, sans-serif;
  border-radius: 0.5vw;
  margin: 0.3vw;
}

/* calculator buttons */
.digit, .operation, .clearButton, .equalButton {
  width: 6vw;
  height: 6vw;
  font-size: 25px;
  font-family: helvetica, sans-serif;
  border-radius: 0.5vw;
  margin: 0.5vw 0vw 0vw 0.2vw
}

.clearButton, .equalButton {
  width: 12.5vw;
  background-color: #3399ff;
  margin: 0vw 0.5vw 0vw 0.2vw;
}

.percentButton {
  margin-left: -0.2vw;
}

.digit {
  background-color: #f2f2f2
}

.calcForm {
   max-width: 336px;
}

@media(max-width: 840px) {
  .digit, .operation, .clearButton, .equalButton {
    font-size: 20px;
  }

  .outputScreen {
    font-size: 35px;
  }
}

@media(max-width: 500px) {
  .digit, .operation, .clearButton, .equalButton, .outputScreen {
    font-size: 14px;
  }

  .outputScreen {
    font-size: 25px;
  }
}