
.navbar-nav {
    margin-left: 58% !important;
}

header .navbar .nav-link { 
    font-size: 1.7rem !important;
    font-family: 'Patrick Hand' !important;
}

.navbar-brand {
    max-width: 18% !important;
    margin-left: -10% !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #af0808 !important;
}

h2, h4 {
    font-family: 'Patrick Hand' !important;
}

p {
    font-size: 16.5px;
    font-family: 'Open Sans' !important;
}

html {
    scroll-behavior: smooth;
}

h3 {
    font-family: 'Patrick Hand' !important;
    font-size: 1.5rem !important;
}

#menuthing:hover, #menu4:hover {
    color: rgb(255, 238, 0) !important;
}

.contacty {
    margin-left: 15% !important;
}

.menusec {
    padding-bottom: 2% !important;
}

.owl-dot span {
    width: 15px !important;
    height: 15px !important;
    margin-right: 20px !important;
}