.masthead {
    background-image: url('../img/header.jpg');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#madcat_copyright {
    padding-bottom: 1.0rem !important;
}

#navbarResponsive {
    font-size: 1.1rem;
}

#portfolio-header {
    line-height: 5.5rem;
    padding-bottom: 2rem;
    padding-top: 4rem;
}

#portfolio_row {
    padding-top: 4rem;
}

#portfolio_item_description {
    padding-top: 2rem;
}

#half_page_image {
    max-width: 46rem;
}

#logo:hover {
    color: #4c941a;
}

.soc:hover {
    color: #4c941a;
}